@model  Domain.Models.Register

@{
    ViewBag.Title = "Вход";
}


<div class="row">
    <div class="col-lg-3">
		@if (User.Identity.Name == "")
		{
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label>Почта:</label>
                    <input type="text" class="form-control" name="Mail"/>
                    @Html.ValidationMessageFor(model => model.Mail)
                </div>

                <div class="form-group">
                    <label>Пароль:</label>
                    <input type="text" class="form-control" name="Password"/>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-default"/>
                </div>
            </div>
        }
		}
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-1">
        <a href="/Account/Register" class="btn btn-default">Регистрация</a>
        <br/><br/>
        <form action="/Account/Logoff">
            <input type="submit" class="btn btn-default" value="Выйти"/>
        </form>
    </div>
</div>



<!--section Scripts {
    Scripts.Render("~/bundles/jqueryval")
}-->
