@model Domain.Models.Account

@{
    ViewBag.Title = "Регистрация";
}

<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <form role="form" action="/Account/Registry" method="post">
            <div class="form-group">
                <label>Имя:</label>
                <input type="text" class="form-control" name="FirstName">
            </div>
            <div class="form-group">
                <label>Фамилия:</label>
                <input type="text" class="form-control" name="SecondName">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" name="Mail">
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                <input type="text" class="form-control" name="Password1">
            </div>
            <div class="form-group">
                <label>Повторите пароль:</label>
                <input type="text" class="form-control" name="Password2">
            </div>
            <input type="submit" class="btn btn-default" value="Регистрация">
        </form>
    </div>
</div>
<div class="row">
    <br/>
    <p>В целях вашей безопасности мы бы вам посоветовали придумать пароль посложнее, но такие пароли и забываются быстро и вводятся долго, поэтому делайте так, как считаете нужным :)</p>
</div>