@{
    ViewBag.Title = "Главная";
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3 style="text-align:center">История появления</h3>
        <p>Компанию создавал очень опытный и известный в высоких кругах бизнесмен, который, зарабатывая себе репутацию, перепробовал всё, что только может прийти в голову, от продажи снега до продажи наркотиков. На это нужно много времени. За это время он успел объездить кучу стран. И у него была странная особенность - пробовать разные напитки, безалкогольные, разумеется. Если вы всё это реально читаете, спасибо большое, я старался))) И за всё это время он напробовал столько, что разбирался в лимонаде лучше, чем если бы в одном человеке уместить опыт всех детей на свете. Однажды он задумался над этим и решил открыть очередную компанию</p>
        <p>Единственной проблемой было найти двух сотрудников, потому что всех, кого он знал, среди тех, кому мог доверить свой бизнес, он уже устроил. Трамп, ещё до того как стал президентом, устроил у себя вечеринку в честь дня рождения своей жены. К нему тогда подошли двое студентов из какого-то колледжа, он начал разговаривать с ними и выяснилось, что им учитель задал написать сайт, который ну вообще не получается. Этот бизнесмен видел людей насквозь и ничего плохого в студентах не нашёл, они были усердными, добрыми и всё такое. Поэтому он предложил бросить программирование и начать торговать лимонадом. Они так обрадовались, что упали в обморок. После того, как они отошли и все трое попали в точку невозврата (когда главной задачей было тратить хотя бы 1 процент своих заработанных в день денег, потому что риелторы уже устали оформлять себе острова, а это самое нормальное, где можно было тратить)</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3 style="text-align:center">Почему нужно покупать у нас?</h3>
        <p>Наверное главная причина это то, что у нас лучший магазин</p>
        <p>Для того, чтобы вы, мои дорогие клиенты, не подумали, что я преувеличиваю, я опишу, как происходит производственный процесс</p>
        <p>Во-первых, все лимонады делаются из натуральных фруктов и обыкновенного сахара</p>
        <p>По России у нас всего 4 производных центра. В каждом есть огромный и технологичный огород, который даёт урожай в среднем 4 раза в год. На нём выращиваются лимоны, клубника, апельсины и всё</p>
        <p>Собирается всё вручную, да и вообще, мы стараемся задействовать по возможности больше человеческого труда, чтобы давать возможно людям зарабатывать</p>
        <p>Далее наши рабочие выдавливают из фруктов все соки и переливают их в цистерны</p>
        <p>Потом эти соки смешивают с водой и сахаром, по особым пропорциям (это единственное, что я не могу огласить) и это всё газируется</p>
        <p>В итоге всё разливается по бутылкам и развозится по магазинам вашего города</p>
        <p>Да, наш лимонад дороже других, но зато он вкусный, натуральный и полезный</p>
    </div>
</div>